{% extends 'base.html' %}

{% block content %}
  
  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
    <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Choose Band</a>
    <ul id='dropdown1' class='dropdown-content'>
        {%for userband in user_bands%}
        <li><a href="{%url 'invite_artist' band_pk=userband.pk artist_pk=user_artist.pk%}">{{userband.name}}</a></li>

        {%endfor%}
    </ul>
   
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
  </div>

<div class="detail-banner">
    <img src="{{artist.photo_url}}" alt="">
</div>
<!-- Modal Trigger -->
<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Invite to Band</a>

<div class="container container-detail">
    <h2 class="detail-header">{{artist.stage_name}}</h2>
    <p>{{artist.description}}</p>
    <div class="detail-button">
    <a href="{% url 'artist_edit' pk=artist.pk %}" class="edit-profile btn">Edit Profile</a> 
    </div>

    <div class="container-split">
      <div class="section-split"></div>
    </div>

    <h2 class="detail-header">Bands</h2>
    <ul>
      {% for band in bands %}
      <li>
          <h3>{{band.name}}</h3><a href="#">Profile</a>     
          {% if admin %}
              | <a href="{% url 'remove_bandmember' artist_pk=artist.pk band_pk=band.band.pk%}">Leave Band</a>
          {% endif %}
      </li>
      {% endfor %}
  </ul>


  {% for member in artist.members.all %}
  <div class="card">  
    <div class="card-background">
      <div class="card-image">
        <img src="{{member.band.photo_url}}" alt="{{member.band.name}}"/>
      </div>
      <div class="card-name">{{ member.band.name }}</div>
      <div class="card-description">{{ member.band.description }}</div>
      <a href="{% url 'band_detail' pk=member.band.pk%}" class="card-button btn">MORE</a>
      <!-- IF STATEMENT TO LET BAND OWNER REMOVE -->
      <div class="remove-member">
        <a href="#" class="remove-member"><i class="material-icons cancel-icon">cancel</i>Leave Band</a>
      </div>
    </div>
</div>
{% endfor %}

    {% if admin %}
    <div class="detail-button">
      <a href="{% url 'band_create' %}" class='btn'>CREATE A BAND</a>
    </div>

    <div class="container-split">
      <div class="section-split"></div>
    </div>

    <h2 class="detail-header">Invites</h2>


    {%for invite in invites %}
    <li>
            <h3>{{invite.band.name}}</h3>
            <a href="#">Profile</a> |
            <a href="{%url 'add_bandmember' invite_pk=invite.pk  %}">Accept</a> | <a href="{%url 'decline_invite' invite_pk=invite.pk %}">Decline</a> </p>
        </li>
   
    {%endfor%}
    <a href="{% url 'artist_delete' pk=artist.pk %}" class="delete-profile"><i class="material-icons cancel-icon">cancel</i>Delete Profile</a>

{%endif%}
 
{% for band in bands %}
<div class="card">
  <div class="card-background">
    <div class="card-image">
      <img src="{{band.photo_url}}" alt="{{band.name}}"/>
    </div>

    <div class="card-name">{{ band.name }}</div>
    <div class="card-description">{{ band.description }}</div>
    <a href="{%url 'band_detail' pk=band.pk%}" class="card-button btn">MORE</a>
  </div>
</div>

{% endfor %}
  


</div>



{% endblock %}
