{%extends 'base.html'%}


{% block content %}
<div id = "artist-list" class="container container-list">
    <h2 class="list-header">ARTISTS</h2>
    <form action='' method="GET" id="artist-search">
    <!-- <label for="artist-search">Search For Artists</label> -->
    
    <input type="text" name="search" id='artist-query' placeholder="Search for Artists">
    
</form>

    {% for artist in artists %}
    <div class="card">  
        <div class="card-background">
        <div class="card-image">
        <img src="{{artist.photo_url}}" alt="{{artist.stage_name}}"/>
        </div>

        <div class="card-name">{{ artist.stage_name }}</div>
        <div class="card-description">{{ artist.description }}</div>
        <a href="{% url 'artist_detail' pk=artist.pk%}" class="card-button btn">MORE</a>
    </div>
    </div>
    {% endfor %}
</div>

{% endblock %}

