{% extends 'base.html' %}

{% block content %}

<div class="container container-list">
  <!-- <div class="header">BAND LIST</div> -->
  {% for band in bands %}
  <div class="card">
    <div class="card-image">
      <img src="https://miro.medium.com/max/1200/1*DEjE1Bn8kYdk18nemUzBUQ.jpeg" alt="">
    </div>

    <div class="card-name">{{ band.name }}</div>
    <div class="card-description">CRONUT VIRAL BEARD, CHAMBRAY POKE NARWHAL DIRECT TRADE FLEXITARIAN GENTRIFY MEGGINGS STUMPTOWN TRUFFAUT. OFFAL KALE CHIPS KNAUSGAARD VINYL.</div>
   
    <a href="#" class="card-button btn">MORE</a>
  </div>

  
 {% endfor %} 

</div>

{% endblock %}