.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  height: 91vh;
  background: url('../images/band_1.jpg') center;
  background-size: cover;
  flex-wrap: wrap;
}

.hero-tag {
  flex-basis: 100%;
  font-family: 'Viga';
  font-size: 72px;
  color: white;
  -webkit-text-stroke: 3px black;
  text-align: center;
}

.btn-large {
  font-size: 24px;
  background-color: #800E08;
}