.container-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container {
  margin-bottom: 5vh;
}

/* ---------- CARD TEMPLATE ---------------- */
.card {
  width: 225px;
  height: 225px;
  margin: 150px 50px 0px 50px;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.card-image{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 200px;
  height: 200px;
  transform: translate(-32px, -80px)
}

.card-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  box-shadow: 4px 6px rgba(0, 0, 0, 0.1);
}

.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 32px;
  background-color: white;
  font-size: 24px;
  transform: translate(50px, -150px);
  border: 1px solid black;
  overflow: scroll;
}

.card-description {
  font-size: 12px;
  transform: translate(15px, -100px);
  height: 40px;
  width: 195px;
  overflow: auto;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 30px;
  margin-top: 0;
  font-size: 12px;
  transform: translate(25px, -95px)
}