.container-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.header {
  clear: right;
}

.list-header {
  flex-basis: 100%;
  text-align: center;
  font-family: 'Viga';
}

/* ---------------- SEARCH BAR ---------------- */
.search-section {
  display: flex;
  justify-content: center; 
  flex-basis: 70%;
}

#band-search {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
}

#band-query {
  width: 300px;
}

#artist-search {
  flex-basis: 70%;
  display: flex;
  justify-content: center;
}

#artist-query {
  width: 300px;
}

/* ---------------- CARD TEMPLATE ---------------- */
.card {
  box-shadow: none;
  flex-grow: 1.5;
  flex-shrink: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 125px 50px 25px;
}

.card-background {

  width: 300px;
  height: 300px;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
  border: 1px solid black;
}

.card-image{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 275px;
  height: 275px;
  transform: translate(-32px, -85px);
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.card-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
}

.card-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 255px;
  height: 40px;
  background-color: black;
  color: white;
  font-size: 24px;
  transform: translate(75px, -160px);
  border: 1px solid black;
  overflow: scroll;
  box-shadow: 3px 11px 20px -4px rgba(0,0,0,0.24);
  font-family: 'Viga';
}

.card-description {
  font-size: 12px;
  transform: translate(20px, -118px);
  height: 58px;
  width: 260px;
  overflow: auto;
}

@media(device-width: 768px) and (device-height: 1024px){
  ::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
  }
  ::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0,0,0,.5);
      -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
  }
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 25px;
  font-size: 12px;
  transform: translate(60px, -112px)
}