* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Pirata+One&display=swap');

/* ---------- NAV BAR ---------- */
nav {
  background-color: black;
  font-family: 'Nova Round'
}

.brand-logo {
  font-family: 'Viga';
}

.btn {
  background-color: #800E08;
}

.btn:hover {
  background-color: #FF0E08;
}

/* ---------- SIDE NAV ---------- */
.sidenav-overlay {
  transform: translate(-100px,0px);
  width: 700px;
}

.sidenav {
  font-family: 'Nova Round';
}

.sidenav button:hover {
  background-color: #FF0E08;
}

/* ---------- FORMS ---------- */
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  flex-basis: 100%;
  text-align: center;
  font-size: 32px;
  font-family: 'Viga';
}

.form-section {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section p {
  width: 300px;
}

.form-button {
  align-self: center;
  margin-top: 10px;
}