* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Pirata+One&display=swap');

/* ---------- NAV BAR ---------- */
nav {
  background-color: black;
  font-family: 'Nova Round'
}

.brand-logo {
  font-family: 'Viga';
}

/* ---------- NAV BAR ---------- */
.btn {
  background-color: #800E08;
}

/* ---------- FORMS ---------- */
.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-header {
  flex-basis: 100%;
  text-align: center;
  font-size: 32px;
  font-family: 'Viga';
}

.form-section {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-section p {
  width: 300px;
}

.form-button {
  align-self: center;
  margin-top: 10px;
}