{% extends 'base.html' %}

{% block content %}
<h2 class="form-header">Login</h2>
{% if error %}
<div class="container-split">
  <p style="color: firebrick">{{error}}</p>
</div>
{% endif %}
<div class="container-form">


  <section class="form-section">
    <form action="{% url 'login' %}" method="POST">
      {% csrf_token %}
      <p>
        <label for="username">Username</label>
        <input type="text" name="username" maxlength="25" minlength="2" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" name="password" maxlength="25" minlength="2" required>
      </p>
      <div class="container-split">
        <button type="submit" class="btn form-button">Login</button>
      </div>
    </form>
  </section>
</div>

{% endblock %}